<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="New Romney Country Fayre - The largest FREE event on Romney Marsh, Kent">
        <meta name="keywords" content="New Romney, New Romney Fayre, New Romney Fair, New Romney Event, Kent Fayre, Kent Fair, Kent Show, Kent ">
        <meta charset="utf-8">
        <meta http-equiv="cleartype" content="on">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-title" content="New Romney Country Fair">
        <meta name="google-site-verification" content="8ZtwW1rYC1Zzst10tsARdBDaCIvZXfxs9FRlgv4HANo" />

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" href="{{ site.baseurl }}/assets/images/favicons/favicon-32.png" sizes="32x32">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/images/favicons/favicon-152.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicons/favicon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/images/favicons/favicon-120.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicons/favicon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicons/favicon-72.png">
        <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/favicons/favicon-57.png">
        <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicons/favicon-144.png">
        <meta name="msapplication-TileColor" content="#0095DA">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css" >
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
