<!--{% for p in site.pages %}
    <li>
      <a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
    </li>
    {% endfor %}-->

{% assign active = page.url | split: '/' %}

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      Menu
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="container">
      <ul class="nav navbar-nav">
        <li {% if active[1] == %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
        <li {% if active[1] == "about" %}class="active"{% endif %}><a href="{{ site.baseurl }}/about">About us</a></li>
        <li {% if active[1] == "whatsOn" %}class="active"{% endif %}><a href="{{ site.baseurl }}/whatsOn">What's on</a></li>
        <li {% if active[1] == "takePart" %}class="active"{% endif %}><a href="{{ site.baseurl }}/takePart">Take part</a></li>
        <li {% if active[1] == "supportUs" %}class="active"{% endif %}><a href="{{ site.baseurl }}/supportUs">Support us</a></li>
        <li {% if active[1] == "gallery" %}class="active"{% endif %}><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
        <li {% if active[1] == "contactUs" %}class="active"{% endif %}><a href="{{ site.baseurl }}/contactUs">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>
